# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/venv/
backend/env/
backend/.env

# Model files (uncomment if you don't want to push the model)
# Model/placement_model.pkl

# IDEs
.vscode/
.idea/

# OS
.DS_Store
